<div class="banner">
  <div class="container">
    <p class="show-time">{{event.time}}</p>
    <h1 class="hero-banner-header">{{event.name}}</h1>
    <p>Host: {{this.user.firstName}}</p>
    <p>From <a href="/groups/show/{{this.group}}">{{this.group}}</a></p>
  </div>
</div>
<div class="container">
  <div class="show-content">
    <div class="content-side">
      <div class="cont-side-img">
      </div>
      <div class="cont-details">
        <h1 class="hero-banner-header" style="font-size: 22pt;">Details</h1>
        <p style="margin-bottom: 20px;">
          Welcome to Trailhead Tuesday Sydney!
          Join us at the We Work Offices, with your laptop, to complete your next
          Trailhead in good Ohana company and a comfortable informal environment.
          Food and drink will be provided by Talent Hub, and new enthusiastic
          Salesforce faces of all levels are very welcome.
          Join us whether this is your first, or 300th Trailhead and complete at
          your own pace</p>
          <a href="#"><button class="button is-primary">I'm going!</button></a>
          <button class="button is-primary">Other people are going to this event!</button>
      </div>
    </div>
    <div class="location-side">
    </div>
  </div>
</div>
