<div class="banner">
    <div class="container">
        <p class="show-time">{{event.time}}</p>
        <h1 class="hero-banner-header">{{event.name}}</h1>
        <p>Created By: {{event.user.firstName}} {{event.user.lastName}}</p>
        <p>From: <a href="/groups/show/{{event.group}}">{{event.group}}</a></p>
    </div>
</div>
<div class="container">
    <div class="show-content">
        <div class="content-side">
            <div class="cont-side-img">
                <img src="{{event.photo}}" alt="{{event.name}}">
            </div>
            <div class="cont-details">
                <h1 class="hero-banner-header" style="font-size: 22pt;">Details</h1>
                <p style="margin-bottom: 20px;">{{event.details}}</p>
                <a href="/events/attending/{{event._id}}/{{event.user._id}}" class="button is-primary">I'm going!</a>
            </div>
        </div>
        <div class="location-side">
            <h1>Attending</h1>
            <table>
                <tbody>
                    {{#each event.accepted}}
                        <tr>
                            <td>{{this.firstName}} {{this.lastName}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
