<div class="row">
  <div class="col s12 m8">
    <h3>{{story.title}}</h3>
    <small>{{{editIcon story.user.id user.id story.id false}}}</small>
    <div class="card story">
      <div class="card-content">
        <!-- moment js.org -->
        <span class="card-title">{{formatDate story.date 'MMMM Do YYYY'}}</span>
        <!-- three tags is use to parse html tags -->
        {{{story.body}}}
      </div>
    </div>
    <!-- comments for the story -->
    {{#if story.allowComments}}
      <div class="card">
        <div class="card-content">
          <span class="card-title">Comments</span>
          {{#if user}}
               <!-- check if the comments user is same as the story user if so don't let the user comment on his own story -->
              <form class="" action="/stories/comment/{{story.id}}" method="post">
                <div class="input-field">
                  <textarea name="commentBody" class="materialize-textarea"></textarea>
                  <label>Add Comment</label>
                </div>
                <input type="submit" class="btn" value="submit">
              </form>
          {{else}}
            <!-- user not logged in -->
            <p>Please <a href="/auth/google">login</a> to leave a comment</p>
          {{/if}}
        </div>
          <!-- loop through comments and dsiplay -->
      {{#each story.comments}}
      <div class="card">
        <div class="card-content">
          <h5>{{commentBody}}</h5>
          <div class="chip">
            <img src="{{commentUser.image}}">
            <a href="/stories/user/{{commentUser.id}}">{{commentUser.firstName}} {{commentUser.lastName}}</a>
          </div>
          <br>
          <small>Posted: {{formatDate commentDate 'MMMM Do YYYY'}}</small>
          <!-- note: pass both story id and comment id in the route -->
          <!-- since the story is outside of story.comments each loop use ../story.id
          inside the each loop id refers to comment id -->
          <form action="/stories/{{../story.id}}/comments/{{id}}?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn red">delete</button>
          </form>
        </div>
      </div>
      {{/each}}
      </div>
    {{/if}}
  </div>
  <div class="col s12 m4">
    <br><br><br><br>
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">{{story.user.firstName}} {{story.user.lastName}}</span>
        <img src="{{story.user.image}}" alt="" class="circle responsive-img">
      </div>
      <div class="card-action">
        <a href="/stories/user/{{story.user.id}}">More From {{story.user.firstName}}</a>
      </div>
    </div>
  </div>
</div>
